body   {
    position: absolute;
    top: 30px;
    left: 0px;
    padding: 50px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    background-color: #801744;
    width: 90%;
    margin: 0 auto;
  }

    /*.container {
    position: relative;
    width: 500px;
}*/
.container section {
    height: 300px;
}

.column-left {
    width: 33%;
    left: 0;
    position: absolute;
}
.column-center {
    width: 33%;
    margin-left: 33%;
    position: absolute;
}
.column-right {
    width: 33%;
    right: 0;
    position: absolute;
}


    h3 {
        text-align: center;
        top: 10px;
        left: 100px;
        color: #FFF0A5;}

.whoweareicon {

  font-size: 50px;
  font-style: normal;
  color: #FFF0A5;
 /* position:relative;*/
  width: 40px;
/*  display:block;*/
  margin-left: auto;
  margin-right: auto;
              }
.whoweareicon:hover {
  color: #9F9;

  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

img {
  width: 300px;
}
#container  {
  width: 1200px;
}
.flex-box  {
    display:inline-block;
    width: 300px;
/*    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;*/
}
